---
import Form from "../components/form.astro";
---

<section id="contacto">
  <div class="max-w-2xl m-auto p-10 my-5">
    <h1 class="text-center text-white uppercase">Contactamé</h1>
    <Form />
  </div>
</section>
