---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Proyectos from "./proyectos.astro";
import SobreMi from "./sobre_mi.astro";
import Contacto from "./contacto.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Ismael Simbana">
  <main>
    <Header />
    <SobreMi />
    <Proyectos />
    <Contacto />
    <Footer />
  </main>
</Layout>
