---
import Cards from "../components/cards.astro";

const projects = [
  {
    id: 1,
    title: "Dragon Ball Z",
    href: "Link de GitHub",
    description: "Realizado con ...",
    img: "/pro1.png",
  },
  {
    id: 1,
    title: "Dragon Ball Z",
    href: "Link de GitHub",
    description: "Realizado con ...",
    img: "/pro2.png",
  },
  {
    id: 1,
    title: "Dragon Ball Z",
    href: "Link de GitHub",
    description: "Realizado con ...",
    img: "/pro2.png",
  },
  {
    id: 1,
    title: "Dragon Ball Z",
    href: "Link de GitHub",
    description: "Realizado con ...",
    img: "/pro2.png",
  },
];
---

<section id="proyectos">
  <h1 class="text-center text-white uppercase">Mis proyectos</h1>

  <div class="max-w-2xl m-auto flex items-center justify-center">
    <div class="grid grid-cols-2 gap-1">
      {
        projects.map((project) => (
          <Cards
            title={project.title}
            href={project.href}
            description={project.description}
            img={project.img}
          />
        ))
      }
    </div>
  </div>
</section>
