<section id="sobre-mi">
  <div
    class="max-w-2xl m-auto p-5 mb-5 bg-white rounded-xl flex justify-center items-center"
  >
    <div class="">
      <div class="py-2">
        <h1 class="text-blue-700 uppercase">Sobre mi</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dicta
          nulla minus accusamus id animi magni voluptatem similique excepturi
          doloremque aperiam, voluptatibus, cumque eos modi saepe alias, harum
          culpa. Commodi.
        </p>
        <hr class="my-2 border-gray-200" />
      </div>

      <div class="grid grid-cols-2 py-2">
        <div>
          <h2 class="font-bold text-blue-700">Educacion</h2>
          <ul>
            <li>Actualmente estudiante</li>
            <li>Junior</li>
            <li>Frontend Developer</li>
          </ul>
        </div>
        <div>
          <h2 class="text-blue-700 font-bold">Tech Stacks</h2>
          <ul>
            <li><img src="" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
