

<section class="p-5 grid grid-rows-2">
    <div class="py-2">
        <h1 class=" hover:text-blue-700  uppercase">Sobre mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dicta nulla minus accusamus id animi magni voluptatem similique excepturi doloremque aperiam, voluptatibus, cumque eos modi saepe alias, harum culpa. Commodi.</p>
    </div>
   

    <div class="grid grid-cols-2 py-2">
        <div>
            <h2 class="hover:text-blue-700">Educacion</h2>
            <ul>
                <li>Actualmente estudiante</li>
                <li>Junior</li>
                <li>Frontend Developer</li>
            </ul>
        </div>
        <div>
            <h2 class="hover:text-blue-700">Tech Stacks</h2>
            <ul>
                <li><img src="" alt=""></li>
            </ul>
        </div>
    </div>
</section>