---
interface Props {
  title: string;
  href: string;
  description: string;
  img: string;
  technologies: string;
}

const { title, href, description, img } = Astro.props;
---

<div class="rounded-lg border border-black bg-[#231E3E] p-4 text-white">
  <a href="">
    <img
      src="https://i.kinja-img.com/image/upload/c_fit,q_60,w_645/dd2b90c4834c3a7b68ee59560ceb747d.jpg"
      alt=""
      width="340px"
      class="bg-cover cursor-pointer border rounded-lg hover:contrast-125"
    />
  </a>
  <ul class="flex justify-between items-center space-x-2 py-2 text-2xl">
    <h2 class="uppercase">{title}</h2>
    <li class="hover:scale-125 hover:text-blue-600">
      <a target="_blank" href="https://github.com/IASP23" class="">
        <i class="ri-github-fill"></i></a
      >
    </li>
  </ul>

  <p class="">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In inventore
    dolorum recusandae adipisci. Quae alias nemo, magni doloribus quo temporibus
    illum tenetur, error autem culpa, nobis exercitationem distinctio deserunt
    eius?
  </p>
  <div class="mt-4 flex flex-wrap gap-2">
    <p class="text-[14px] text-orange-400">#html</p><p
      class="text-[14px] text-blue-500"
    >
      #css
    </p><p class="text-[14px] text-yellow-500">#Javascript</p><p
      class="text-[14px] text-pink-500"
    >
      #SASS
    </p><p class="text-[14px] text-green-500">#PWA</p><p
      class="text-[14px] text-blue-600"
    >
      #SEO
    </p>
  </div>
</div>
