
<footer class="bg-white dark:bg-gray-900">

      <div class="flex justify-center items-center flex-col">
          <span class="text-sm hover:underline-offset-1">© 2023 - Realizado con Astro y Flowbite. 
          </span>
          <ul class="p-2 flex justify-center items-center space-x-3  text-2xl ">
            <li class="hover:scale-125 hover:text-blue-600"><a  target="_blank" href="https://github.com/IASP23"> <i class="ri-github-fill"></i></a></li>
            <li class="hover:scale-125 hover:text-blue-600"><a  target="_blank" href="https://www.linkedin.com/in/ismael-simba%C3%B1a-b0a212265/"><i class="ri-linkedin-box-fill"></i> </a></li>
            <li class="hover:scale-125 hover:text-blue-600"><a href="Simbaña_Ismael_Curriculum.pdf"><i class="ri-file-pdf-fill"></i></a></li>
          </ul>
    </div>
</footer>
